<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="UTF-8"/>

    <title>WebSiteList</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Import google fonts -->
    <!--  <link href="http://fonts.useso.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css" /> -->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon"/>

    <!-- start: CSS file-->

    <!-- Vendor CSS-->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/vendor/skycons/css/skycons.css" rel="stylesheet"/>
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Plugins CSS-->
    <link href="assets/plugins/bootkit/css/bootkit.css" rel="stylesheet"/>
    <link href="assets/plugins/sweetalert2/sweetalert.css" rel="stylesheet"/>


    <!-- Theme CSS -->
    <link href="assets/css/jquery.mmenu.css" rel="stylesheet"/>

    <!-- Page CSS -->
    <link href="assets/css/style.css" rel="stylesheet"/>
    <link href="assets/css/add-ons.min.css" rel="stylesheet"/>

    <!-- end: CSS file-->


    <!-- Head Libs -->
    <script src="assets/plugins/modernizr/js/modernizr.js"></script>

    <!-- end: CSS file-->
</head>
<body>
<div class="main">
    <div class="page-header">
        <div class="pull-left">
            <ol class="breadcrumb visible-sm visible-md visible-lg">
                <li><a href="index.html"><i class="icon fa fa-home"></i>工具</a></li>
                <li class="active"><i class="fa fa-pencil"></i>网页创建</li>
            </ol>
        </div>
        <div class="pull-right">
            <h2>网页列表</h2>
        </div>
    </div>
    <div class="row" style="margin-top: 60px">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">

                    <div id="attribute" class="tab-pane">
                        <div style="height: 20px;"></div>

                        <div id="tab4_attr_container" class="form-horizontal bk-margin-top-15 col-xs-offset-1">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <div style="line-height: 30px;white-space: nowrap">名称</div>
                                </div>
                                <div class="col-xs-5">
                                    <div style="line-height: 30px;white-space: nowrap">URL地址</div>
                                </div>
                                <div class="col-xs-4">
                                    <div style="line-height: 30px;white-space: nowrap">操作</div>
                                </div>
                            </div>
                            <div id="container">
                                <div th:each="store:${storeList}" class="form-group">
                                    <div class="col-xs-2">
                                        <div th:text="${store.name}" style="line-height: 30px;white-space: nowrap">
                                            名称
                                        </div>
                                    </div>
                                    <label class="col-xs-4" for="url1">
                                        <input type="text" id="url1"
                                               class="attr_name form-control input-sm pull-right"
                                               th:unless="${#strings.startsWith(store.name,'support-')}"
                                               th:value="${'/web/'+store.name}"
                                               placeholder="URL 地址">
                                        <input type="text" id="url1"
                                               class="attr_name form-control input-sm pull-right"
                                               th:if="${#strings.startsWith(store.name,'support-')}"
                                               th:value="${'/'+store.name}"
                                               placeholder="URL 地址">
                                    </label>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-default center-block"
                                                th:onclick="'delResource('+ ${store.id} +')'">删除资源
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <!-- 如果是图片的话 -->
                                        <a th:href="${'/adminx/website?id='+store.id}" type="button"
                                           class="btn btn-success center-block">编辑
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start: JavaScript-->

<!-- Vendor JS-->
<script src="assets/vendor/js/jquery.min.js"></script>
<script src="assets/vendor/js/jquery-2.1.1.min.js"></script>
<script src="assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/skycons/js/skycons.js"></script>

<!-- Plugins JS-->
<script src="assets/plugins/moment/js/moment.min.js"></script>
<script src="assets/plugins/sweetalert2/sweetalert.min.js"></script>


<!-- Theme JS -->
<script src="assets/js/jquery.mmenu.min.js"></script>
<script src="assets/js/core.min.js"></script>

<!-- Pages JS -->
<script>

    function delResource(id) {
        $.ajax({
            url: "/api/admin/v1/website/" + id,
            type: "DELETE",
            success: function (res) {
                if (res.code == 200) {
                    alert("删除成功！");
                    window.location.reload();
                } else {
                    alert("删除失败：[" + res.code + "] " + res.message);
                }
            }
        });
    }
</script>
<!-- end: JavaScript-->

</body>
</html>
