<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="user-scalable=yes, width=device-width"/>
    <meta charset="UTF-8">
    <title>500 Error</title>
    <link rel="stylesheet" href="css/404.css">
    <link rel="icon" href="/image/@1xicon.png">

</head>
<body>
<header th:include="shop/frag/header :: header"></header>

<section class="center">
    <article>
        <h1 class="header">500</h1>
        <p class="error">ERROR</p>
        <p style="color: rgba(106, 161, 176, 1)">The page you looking for can’t be found. Go home by
            <a href="/" style="color:rgba(106, 161, 176, 1)">Clicking here!</a></p>
        <div class="foot">
            <img src="images/Amazed.png">
        </div>
    </article>
</section>
<footer th:include="shop/frag/footer :: footer"></footer>

</body>
</html>