<div class="nav-left-wrapper">
    <div class="user-info-wrapper">
        <div class="user-img">
            <i class="fa fa-user-circle fa-4x"></i>
        </div>
        <div class="user-detail-info">
            <p th:text="${myemail}" class="user-name">My Name</p>
            <a class="sign-out" href="/signout">Sign out</a>
        </div>
    </div>
    <div class="decorate-line">
        <p class="decorate-text">Order</p>
    </div>
    <div class="item-wrapper">
        <a class="item-text" href="/mycenter/order">Order</a>
    </div>
    <!--<div class="item-wrapper">-->
        <!--<a class="item-text" href="/mycenter/shipped">Shipped</a>-->
    <!--</div>-->
    <div class="decorate-line-normal">
        <p class="decorate-text">Message</p>
    </div>
    <div class="item-wrapper">
        <a class="item-text" href="/mycenter/reviews">My Reviews</a>
    </div>
    <!--<div class="item-wrapper">-->
        <!--<a class="item-text" href="/mycenter/reply">Reply</a>-->
    <!--</div>-->
    <div class="decorate-line-normal">
        <p class="decorate-text">Personalization</p>
    </div>
    <div class="item-wrapper">
        <a class="item-text" href="/mycenter/coupon">My Coupons</a>
    </div>
    <!--<div class="item-wrapper">-->
        <!--<a class="item-text" href="/mycenter/favorite">My Collection</a>-->
    <!--</div>-->
    <div class="item-wrapper">
        <a class="item-text" href="/mycenter/address">Address</a>
    </div>
    <div class="decorate-line-normal">
        <p class="decorate-text">Setting</p>
    </div>
    <div class="item-wrapper">
        <a class="item-text" href="/mycenter/setting">Account Settings</a>
    </div>
</div>
