<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Cart</title>
    <link rel="icon" href="/image/@1xicon.png">
</head>
<body>
<header th:include="shop/frag/header :: header"></header>
<!-- 提示页面，请求错误、异常结果页 -->
<div style="text-align: center;padding:160px;">
    <div id="container" style="margin: auto 0">
        <section>
            <h1 style="font-size: 48px" th:text="${code}">404</h1>
            <h3 style="font-size: 18px"><span style="margin-left: 10px" th:text="${message}">Page Not Found</span></h3>
        </section>
        <section>
            <p>You can go shopping on our website and checkout them here.</p>
            <p><a href="javascript:history.go(-1)">&laquo; Go Back </a> / <a href="/"> Go Home &raquo;</a></p>
        </section>
    </div>
</div>
<footer th:include="shop/frag/footer :: footer"></footer>
</body>
</html>