<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Leelbox-tech</title>
    <link rel="icon" href="/image/@1xicon.png">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/signin.css"/>
    <!--<script src="/js/jquery-3.2.1.min.js"></script>--><!--header有了-->
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1146451278790141');
        fbq('track', 'PageView');
        fbq('track', 'CompleteRegistration');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=1146451278790141&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KRCCCTG');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRCCCTG"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header th:include="shop/frag/header :: header"></header>
<div class="container" style="margin-top: 30px;margin-bottom: 80px">
    <div class="maindiv" style="text-align: center">
        <p class="p3">Your account is successfully created!<br/>An activation email has been sent to you.</p>
        <div class="btn_go mybtn" style="background-color: #318EC3;margin: auto;margin-top: 36px"><a href="/"> Go shop with fun </a></div>
        <p class="p4" style="text-align: left;margin: 40px auto;width: 400px;">
            Confirming your email address to enjoy these following benefits:
            <br/>● Get 10% discount code for your first order
            <br/>● Get free product testing opportunity
            <br/>● Receive latest news of your order in real
            time
        </p>
    </div>
</div>
<footer th:include="shop/frag/footer :: footer"></footer>
</body>

</html>
